body {
	background-image: url("css images/bk4.jpg"); font-family: Georgia;
	background-repeat: no-repeat;
	background-size: cover;
    text-shadow: 4px 4px 4px magenta;
}
h1, h2 {
    text-align: center;
}

#all{
    background-color: rgba(243, 211, 241, 0.466);
    border-radius: 10px;
}

p{
    text-align: center;
    background-color: rgba(248, 64, 233, 0.226);
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    font-size: large;
    
}

nav {
    text-align: center;
    font-size: large;
    border-radius: 10px;
    margin-left: 45%;
    margin-right: 45%;
}

a:link{
    color: rgb(3, 1, 3);
    text-shadow: 4px 4px 4px magenta;
    

}
a:visited{
    color:rgb(5, 1, 4);
    text-shadow: 4px 4px 4px magenta;

}
a:link{
    color: rgb(3, 1, 3);
    text-shadow: 4px 4px 4px rgb(223, 114, 233);
    

}
a:visited{
    color:rgb(5, 1, 4);
    text-shadow: 4px 4px 4px rgb(223, 114, 233);

}