body {
	background-image: url("css images/2cp.jpg"); font-family: Georgia;
	background-repeat: no-repeat;
	background-size: cover;
    text-shadow: 4px 4px 4px rgb(128, 3, 201);
    color:rgb(43, 220, 226);
}
h1, h2 {
    text-align: center;
}
nav {
    text-align: center;
    font-size: large;
    text-shadow: 4px 4px 4px rgb(223, 114, 233);
    background-color: rgba(211, 64, 248, 0.26);
    border-radius: 10px;
    margin-left: 45%;
    margin-right: 45%;
}
#all{
    background-color: rgba(12, 15, 15, 0.411);
    border-radius: 10px;
}

p{
    text-align: center;
    background-color: rgba(211, 64, 248, 0.39);
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    font-size: large;
    
}

a:link{
    color: rgb(9, 13, 14);
    text-shadow: 4px 4px 4px rgb(223, 70, 236);
    

}
a:visited{
    color:rgb(5, 1, 4);
    text-shadow: 4px 4px 4px rgb(223, 114, 233);

}